<h1><% @meetup.title %></h1>

<% if @meetup.users.include?(current_user) %>
<p>
  <form method="post" action="/delete">
    <input name="meetup" value ="<%= @meetup.id %>" hidden>
    <input type="submit" value="Leave Meetup">
  </form>
</p>
<% else %>
<p>
<form method="post" action="/add_attendee">
  <input name="meetup" value ="<%= @meetup.id %>" hidden>
  <input type="submit" value="Join Meetup">
</form>
</p>
<% end %>

<p>Meetup Name: <%= @meetup.title %><p>
<p>Location: <%= @meetup.location %><p>
<p>Description: <%= @meetup.description %><p>
<p>Created by: <%= @meetup.created_by %><p>
<p>When: <%= "#{@meetup.start_date} @ #{@meetup.start_time}" %><p>

<div>&nbsp;</div>

<h3>Attendees</h3>

<% @other_attendees.each do |a| %>
<p><img height="100" width="100" src="<%= a.avatar_url %>" /><%= a.username %></p>
<% end %>

<h3>Comments</h3>
<p>
  <form method="post" action="/add_comment">
    <p>Title: <input type="text" name="title" value="Title"></p><br>
    Submit a comment: <input type="textarea" name="comment" value="Write a Comment">
    <input name="meetup" value="<%= @meetup.id %>" hidden>
    <input type="submit">
  </form>
</p>

<ul>
<% @comments.each do |c| %>
<p style="font-weight:bold"><%= "#{c.title}" %></p>
<p><%= "#{c.comment}" %></p>
<p style="font-size: 10px"><%= "#{c.created_at.strftime('%A, %B %w, %Y')}" %></p>
<% end %>
</ul>
